    {
      "extends": [
      "react-app",
      "react-app/jest",
      "htmlacademy/react-typescript"
    ],
"rules": {
      "no-console":"off",
      "prefer-const": "error",
      "quotes": ["error", "single"],
      "jsx-quotes": ["error", "prefer-double"],
      "indent": ["warn", 2],
      "comma-dangle": ["error", "always-multiline"],
      "semi": ["error", "always"]
      // "import/order": ["error", {
      //   "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
      //   "newlines-between": "always-and-inside-groups"
      // }]
    }
  }
